<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.ATPhometest"/>
      <class name="test.ATPaboutustest"/>
      <class name="test.ATPofferingtest"/>
      <class name="test.ATPcareertest"/>
      <class name="test.ATPcontacttest"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
